# Aktiviere HTTPS
RewriteEngine On
AddDefaultCharset UTF-8
#RewriteCond %{Server_Port} !=443
#RewriteRule ^(.*)$ https://termine.canangathaimassage-herzogenaurach.de.tld/$1 [R=301,L]

# Einfacher Passwortschutz mit .htaccess
#AuthType Basic
#AuthName "Passwortgeschützter Bereich"
#AuthUserFile /mnt/rid/38/69/52253869/htdocs/allerlei/.htpasswd

#require user Cananga Nida

#Startseite festlegen
DirectoryIndex Buchungen.php index.htm index.html